//BASE
@use "./partials/base/reset"; 
@use "./partials/base/tipografia";

//MENU
@use "./partials/components/header";

//GENERAL HOME
@use "./partials/components/general";

//FOOTER
@use "./partials/components/footer";