//PAGINA: SOBRE NOSOTROS//

//TARGETA DE LOS MÁRTIRES//

.biografia-martires{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;}

        .card-title{text-align: center;} /*Titulo de las tragetas*/
        .card-text{text-align: justify;}
