//PAGINA: SOBRE NOSOTROS//

//TARGETA DE LOS MÁRTIRES//

.biografia-martires{
    display: grid;
    grid-row-start: auto;
  gap: 24px;                    
  justify-content: center;      
  align-items: stretch;
  padding: 20px 0;
}

.biografia-martires .card{
  width: 18rem;              
}

/* Títulos y texto */
.biografia-martires .card-title{
  text-align: center;
  font-size: 25px;
  color: rgb(153, 77, 77);
}

.biografia-martires .card-text{
  text-align: center;
}