/*FOOTER HOME*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(157, 77, 77);
    margin: 20px 70px;
    padding-top: 20px;
    align-items: center;
    justify-items: center;}

.footer-p{
    color: white;}
