/*MAIN HOME*/

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "imagen oracion";
    margin: 20px 70px;
    justify-content: space-between;}

.imagen{
    grid-area: imagen;
    background-color: none;
    display: flex;
    align-items: center; /*alinea eje 
    vertical*/
    justify-items: center; /*alinea eje 
    horizontal*/
    justify-content: center;
    width: 50rem;
    height: 30rem;}

.oracion{
    grid-area: oracion;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinea eje 
    vertical*/
    justify-items: center; /*alinea eje 
    horizontal*/
    justify-content: center;
    width: 25.6rem;
    height: 30rem;}

    .canonizacion{
        font-size: 20px;
        padding: 0 0 15px 0;
        text-decoration:underline;
        text-align: center;}

    .meditacion{
        font-size: 15px;
        text-align: center;
        margin: 0 25px;}

//MAIN PAGINA: SOBRE NOSOTROS//

.contenedor-biografia{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
        "carrusel"
        "destacado1"
        "separador1"
        "martires"
        "destacado2"
        "separador2"
        "enlaces";
    margin: 20px 70px;}

.carrusel2{
    grid-area: carrusel;}

.destacado{
    grid-area: destacado1;
    font-size: 22px;
    margin-top: 20px;}

.separador-biografia{
    grid-area: separador1;
    background-color: #584199;
    height: 5px;
    width: 100%;
    margin-bottom: 20px;}

.biografia-martires{
    grid-area: martires;}


.destacado2{
    grid-area: destacado2;}

.separador2{
    grid-area: separador2;
    background-color: #584199;
    height: 5px;
    width: 100%;
    margin-bottom: 20px;}

.enlaces{
    grid-area: enlaces;
    display: flex;
    flex-direction: row;}
