/*MENÚ HOME*/

header{
    background-color: rgb(153, 77, 77);
    margin: 20px 70px;
}

    .container-fluid{
         align-items: center;}


    .nav-link { /*Color de letras*/
        color: white;
        font-weight: lighter; /*Grosor del texto*/}
