/*Fuente Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 /* font-family: "Roboto", sans-serif;*/

h1 {
    font-family: "Roboto", sans-serif;
    color: brown;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

h2 {
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

p {
   text-align: center;
   font-size: 20px;
   font-weight: 300;
}

/*Píe de Página*/
.footer-p {
    font-size: 15px;
}

/*Sobre Nosotros*/
.subtitulo-martires {
    font-weight: 900;
    font-size: 25px;
}

/*Lugar de martirio*/
.lugar-martirio {
    font-size: 25px;
    font-weight: 900;
    text-align: left;
    color: blue;
}

.descrip-martirio {
    text-align: justify;
}

/*Material de consulta*/
.descarga-1 {
    text-align: left;
}

/*Posicionamiento*/
/*HEADER*/
* {
    margin: 0;
    padding: 0;
}

.beatos-logo {
    width: 80px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
nav ul li {
    list-style-type: none;
}
.indice {
    text-decoration: none;
    color: brown;
    font-size: 20px;
}

/*MAIN*/
.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300 px 1fr;

    gap: 17px;
    padding: 16px;

    grid-template-areas: 
       "titulo titulo"
       "imagen oracion";
}

.titulo {
    align-items: center;
    grid-area: titulo;
}

.imagen {
    grid-area: imagen;
}

.oracion {
    align-self: center;
    grid-area: oracion;
}

/*FOOTER*/
.pie-de-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300 px;

    gap: 17px;
    padding: 16px;

    grid-template-areas: 
       "facebook instagram derechos logo logo";
}

.facebook {
    grid-area: facebook;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.instagram{
    grid-area: instagram;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.derechos{
    grid-area: derechos;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}

@media (max-width: 450px) {
    .contenido {
        grid-template-areas:
        "titulo"
        "imagen"
        "oracion";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1 fr 1fr;
    }
}