@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ledger&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*RECET DE CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MENÚ HOME*/
header {
  background-color: rgb(153, 77, 77);
  margin: 20px 70px;
}

.container-fluid {
  align-items: center;
}

.nav-link { /*Color de letras*/
  color: white;
  font-weight: lighter; /*Grosor del texto*/
}

/*MAIN HOME*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "imagen oracion";
  margin: 20px 70px;
  justify-content: space-between;
}

.imagen {
  grid-area: imagen;
  background-color: none;
  display: flex;
  align-items: center; /*alinea eje 
vertical*/
  justify-items: center; /*alinea eje 
horizontal*/
  justify-content: center;
  width: 50rem;
  height: 30rem;
}

.oracion {
  grid-area: oracion;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center; /*alinea eje 
vertical*/
  justify-items: center; /*alinea eje 
horizontal*/
  justify-content: center;
  width: 25.6rem;
  height: 30rem;
}

.canonizacion {
  font-size: 20px;
  padding: 0 0 15px 0;
  text-decoration: underline;
  text-align: center;
}

.meditacion {
  font-size: 15px;
  text-align: center;
  margin: 0 25px;
}

.contenedor-biografia {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "carrusel" "destacado1" "separador1" "martires" "destacado2" "separador2" "enlaces";
  margin: 20px 70px;
}

.carrusel2 {
  grid-area: carrusel;
}

.destacado {
  grid-area: destacado1;
  font-size: 22px;
  margin-top: 20px;
}

.separador-biografia {
  grid-area: separador1;
  background-color: #584199;
  height: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.biografia-martires {
  grid-area: martires;
}

.destacado2 {
  grid-area: destacado2;
}

.separador2 {
  grid-area: separador2;
  background-color: #584199;
  height: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.enlaces {
  grid-area: enlaces;
  display: flex;
  flex-direction: row;
}

.contenedor-lugares {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "entrada entrada" "imagen titulo" "imagen leyenda" "imagen-1 titulo-1" "imagen-1 leyenda-1" "imagen-2 titulo-2" "imagen-2 leyenda-2";
  margin: 20px 70px;
}

.card-entrada {
  grid-area: entrada;
  margin-bottom: 50px;
}

.titulo-lugar {
  grid-area: titulo;
}

.leyenda-lugar {
  grid-area: leyenda;
}

.imagen-lugar {
  grid-area: imagen;
}

.titulo-lugar-1 {
  grid-area: titulo-1;
}

.leyenda-lugar-1 {
  grid-area: leyenda-1;
}

.imagen-lugar-1 {
  grid-area: imagen-1;
}

.titulo-lugar-2 {
  grid-area: titulo-2;
}

.leyenda-lugar-2 {
  grid-area: leyenda-2;
}

.imagen-lugar-2 {
  grid-area: imagen-2;
}

.lugar-martirio {
  margin-left: 20px;
}

.descrip-martirio {
  text-align: justify;
  margin-left: 20px;
}

/*FOOTER HOME*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(157, 77, 77);
  margin: 20px 70px;
  padding-top: 20px;
  align-items: center;
  justify-items: center;
}

.biografia-martires {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-title {
  text-align: center;
} /*Titulo de las tragetas*/
.card-text {
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
